.filteringElements {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 1.25rem;
}

.filteringElements.darkMode > * > * {
  background-color: var(--elements-dark-mode);
  color: var(--text-dark-mode);
}

@media (min-width: 576px) {
  .filteringElements {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
  }
}

.countriesDisplayContainer {
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 576px) {
  .countriesDisplayContainer {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 1rem;
  }

  .countriesDisplayContainer > * {
    flex-basis: calc(50% - 1rem);
  }
}

@media (min-width: 768px) {
  .countriesDisplayContainer {
    gap: 1rem;
  }

  .countriesDisplayContainer > * {
    flex-basis: calc(33.33% - 1rem);
  }
}

@media (min-width: 1024px) {
  .countriesDisplayContainer {
    gap: 2rem;
  }

  .countriesDisplayContainer > * {
    flex-basis: calc(25% - 2rem);
  }
}
