:root {
  --bg-dark-mode: hsl(207, 26%, 17%);
  --text-dark-mode: hsl(0, 0%, 100%);
  --elements-dark-mode: hsl(209, 23%, 22%);

  --font-clr-very-dark-blue: hsl(200, 15%, 8%);
  --input-dark-gray: hsl(0, 0%, 52%);
  --bg-very-light-gray: hsl(0, 0%, 98%);
  --bg-white: #fff;

  --fs-home-page: 0.875rem;
  --fs-details-page: 1rem;

  --fw-light: 300;
  --fw-regular: 600;
  --fw-bold: 800;

  --ff-general: "Nunito Sans", serif;

  --space-sm: 0.5rem;
}

/* resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select,
option {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: var(--ff-general);
  font-size: var(--fs-home-page);
  color: var(--font-clr-very-dark-blue);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

/* utils */

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.borr {
  border-radius: 0.35rem;
}

.shadow {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
}

.spacing {
  display: grid;
  gap: var(--space-sm);
}

body.darkMode {
  background-color: var(--bg-dark-mode);
}

header.darkMode button {
  color: var(--text-dark-mode);
}

.darkMode {
  background-color: var(--elements-dark-mode);
  color: var(--text-dark-mode);
}
